<h1>My Garage</h1>
<ul class="list-group">
  <% @favourites.each do |favourite| %>
    <li><%= favourite.car.brand %> | <%= favourite.car.model %> | <%= link_to 'Delete',
       favourite_path(favourite), data: {turbo_method: :delete, turbo_confirm: "Are you crazy?"} %> | <%= link_to 'Back', cars_path %>
    </li>
  <% end %>
</ul>
